<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDynamic</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    {{>navbar}}

    {{!-- herosection start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 left">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <P>we are the team of <span class="bold-style">Professional Developer✌️</span></P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0 right">
                        <figure>
                            <img src="images/growth.svg" alt="herosection_img">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- herosection end --}}

    {{!-- about us start --}}
    {{>about}}
    {{!-- about us end --}}

    {{!-- Our services start --}}
    {{>service}}
    {{!-- Our services end --}}

    {{!-- maps start --}}
    {{>maps}}
    {{!-- maps end --}}

    {{!-- contact us start --}}
    {{>contact}}
    {{!-- contact us end --}}

   <script src="../jq/jquery.js"></script> 
   <script src="../js/bootstrap.js"></script> 
</body>
</html>