<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="herosection_img">
                        </figure>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text left">
                        <h1>WE ARE PROFESSIONAL DEVELOPER✌️</h1>
                        <P>Welocme to <span class="bold-style">New World</span>, your Number one source for all things. We're 
                        Dedicated to giving you the very best of work, with the focus on [three charactristics.]</P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>